.container {
  background: white;
  padding: 24px;

  border-radius: 20px;
  margin: auto auto;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08);

  position: fixed;
  top: 10px;
  left: 50%;

  transform: translateX(-50%);
  width: 96%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.content {
  display: flex;
  align-items: center;
  grid-gap: 12px;
}

.nav {
  display: flex;
  align-items: center;
  grid-gap: 12px;

  & a {
    text-transform: capitalize !important;
    font-size: 16px;
    color: var(--text-primary);
  }
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu {
  margin-top: 55px;
  cursor: pointer;
}

.avatar {
  background: var(--element-light-color) !important;

  & svg {
    & path {
      fill: var(--accent-color);
    }
  }
}

.mobile_nav {
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;

  z-index: 100;
}
