@use "global" as *;

:root {
  --primary-color: #f0f0f5; /* Soft light gray */
  --accent-color: #7664fc; /* Soft purple */
  --accent-color-hover: #5f4afc; /* Slightly darker purple for hover */
  --base-color: #fafaff; /* Near white background */
  --element-color: #e6e6f5; /* Light grayish-blue for elements */
  --element-light-color: #ebebfa; /* Slightly lighter than element-color */
  --ui-dark: #d2d2e1; /* Muted blue-gray for UI */
  --ui-light: #dcdceb; /* Softer version of ui-dark */
  --active-color: #8c50ff; /* Vibrant purple for active states */
  --font: "Poppins", "Montserrat";
  --font-logo: "Rubik";
  --text-primary: #222222; /* Dark gray for text */
}
